{% extends "default.html.twig" %}

{% block video %}
  <div id="video" style="position: fixed; z-index: -99; width: 100%; height: 100%">
    <iframe frameborder="0" 
      src="https://youtube.com/embed/NEdt23nJUhw?autoplay=1&loop=1&controls=0&showinfo=0&autohide=1&mute=1&playlist=NEdt23nJUhw">
    </iframe>
  </div>
{% endblock %}

{% block content %}
<div class="container" id="content">
  <div class="row">
      <center><img src="front/img/jo2024.png" alt="" id="imgHome" /></center>
  </div>
  <div class="row">
    <center><p id="sentence"> Welcome to Olympics games 2024 </p></center>
  </div>
</div>
{% endblock %}
