/* body */
#bodyHome {
  background: url('./images/home.jpg') no-repeat center center fixed;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover;
}
#imgHome {
  width: 35%;
}
/* nav */
#nav1 {
  border-radius: 0%;
  border-color: transparent;
  background-color: #E5E6ED;
  opacity: 0.5;
}
a {
  color: #060813 !important;
  font-weight: bold;
  font-size: 120%;
}
#alignTextNav {
  text-align:center;
}
#blockNavbar {
    display:inline-block;
    float:none;
}
#myNav {
  background-color: transparent;
  border-color: transparent;
}