/* body */
#sentence{
  font-size: 30px;
  color: white;
  font-weight: bold;
}

#content{
  display: none;
}

#imgHome {
  width: 20%;
  margin-top: 50px;
}

/* nav */
.navbar {
  margin-bottom: 0px;
}

#nav1 {
  border-radius: 0%;
  border-color: transparent;
  background-color: rgba(229, 230, 237, 0.5);
}

a {
  color: #060813 !important;
  font-weight: bold;
  font-size: 120%;
}

/* screen lower to 768px*/
@media screen and (min-width: 768px){
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  #btnSign1 {
    transform: translate(-65%,25%);
  }
  #btnSign2 {
    transform: translate(-50%,25%);
  }
  #btnConnected {
    transform: translate(-155%,25%);
  }
  #dropDownMenu {
    transform: translate(-50%,10%);
  }
}

/* screen higher to 768px*/
@media screen and (max-width: 768px){
  #btnSign1 {
    transform: translate(20%, 10%);
  }
  #btnSign2 {
    transform: translate(10%, 50%);
  }
  #alignElementNav {
    margin-left: 50%;
  }
  #btnConnected {
    transform: translate(20%,10%);
  }
  #dropDownMenu {
    transform: translate(-50%,10%);
  }
}

/*  video */
#video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
#video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  pointer-events: none;
}

/* modal */
.visible {
  display: block
}
.modal-register{
  width: 390px!important;

}
.form-w3-agile {
  background: rgba(213,212,212,0.60);
  -webkit-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
  -moz-box-shadow: 0px 35px 44px -22px rgba(0,0,0,0.72);
  box-shadow: 0px 35px 44px -22px #1f181b;
  padding: 60px 40px;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

.main-login{
 	/* background-color: #fff; */
    /* shadows and rounded borders */
    /* -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3); */

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 330px;
  padding: 25px 60px 20px 50px;
  border-radius: 10px;
}

* {padding:0;margin:0;box-sizing:border-box;}
#video {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
#video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
  pointer-events: none;
}

.form-register .input-group .form-control{
  background-color: transparent;
  border: none;
}

.input-group-addon{
  background-color: transparent;
  border: none;
  color: black;
}

.form-w3-agile .form-register .form-control{
  border-bottom: 1px solid white;
  box-shadow:none!important;
  color: white;
  font-size: 17px;
  padding-bottom: 10px;
  margin-top: 15px;
}

.btn-submit{
  margin-top: 35px;
}

.form-control::placeholder{
  color:white;
}

.btn-submit .btn-primary{
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-submit .btn-primary:hover{
  background-color: rgb(52, 117, 173);
  border-color: rgb(48, 115, 173);
  color: rgb(202, 204, 204);
}

.modal-register .modal-body{
  padding: 30px
}

/* footer */
.social-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icon li{
  display: inline-block;
  text-align: center;
}

.social-icon a {
  display: block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border-radius: 50%;
  margin-right: 5px;
}

.social-icon a {
  background: rgba(255, 255, 255, 0.85); /* social icon background color */
  color: #000; /* social icon color */
}

.social-icon a:hover {
  background: rgba(40,96,144, 0.25); /* social icon hover background color */
  color: #fff; /* social icon hover color */
}

.footer {
  background-color:#9ECCE3;
}

.footer{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.copyright{
    background-color:#F2F2F6;
}

.copyright p{
	font-size:12px;
  padding: 10px 0 0px 0;
}

.jumbotron{
  margin-bottom: 80px;
  background-color: #9ECCE3;
}

.well-sm {
  margin-bottom: 80px;
}

/* Page games*/
.games-block {
  display: inline-block;
  min-height: 130px;
  width: 100%;
}

hr{
  border-top: 2px solid #FCB90B!important;
}

#page-games{
  width: 1100px;
}

.desc-games{
  font-size: 18px;
}

.games-block a{
  color: #27A3FF!important;
  font-size: 14px!important;
}

#page-games .games-block:last-child .row div:last-of-type hr:last-of-type{
  border: none!important;
}

.name-country{
display: table-cell;
position: relative;
z-index: 2;
float: left;
width: 100%;
margin-bottom: 0;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

